@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
  --icons-color: #4c5773;
  --main-bg-color: #ecf0f3;
  --shadow-dark-color: #d3dae7;
  --overlay: #2323255e;

}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  background-color: var(--main-bg-color);
  color: var(--icons-color);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: none;
}


::selection{
  color: var(--shadow-dark-color);
  background: var(--icons-color);
}

::-webkit-scrollbar{
  width: 0.2rem;
  border: 0.5px solid var(--main-bg-color);
}

::-webkit-scrollbar-track{
  border-radius: 0;
  background-color: var(--main-bg-color);
}

::-webkit-scrollbar-thumb{
  border-radius: 2rem;
  background:  var(--icons-color);
  width: .2rem;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}